body{
    font-family: "arial", Georgia, Serif;
    direction: rtl;
    padding: 0px;
    margin: 0px;
    background-image:url('har.jpg');
    background-position:center;background-repeat:no-repeat;
    background-attachment:fixed;background-size:cover;
}

.container{
    width: 75%;
    position: relative;
    top: 70px;
    right: 8%;
}
.qui{
  background-color: rgb(226, 213, 213,0.7);
}

.f{
  background-color: rgb(226, 213, 213,0.7);
  padding: 5px;
}
.title{
    font-weight: bold;
    position: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 8px;

  }
  
  td, th {
    background-color: rgb(226, 213, 213,0.7);

   border: 1px solid rgba(233, 141, 141, 0.685);
    text-align: right;
    padding: 8px;
  }

  textarea{
      width: 95%;
      height: 100%;
      padding: 10px;
      font-family: "arial", Georgia, Serif;

  
  }
  button:hover, .loggedin-div button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
  }

.All{
  background-color: rgb(226, 213, 213,0.7);
  border: 1px solid black;
  padding: 2px;

}



.Q{
 color: red;
}
.UpdateData{
  position:fixed;
}

.quizContent{

  width:100px;
}