
{% load static %}
<!DOCTYPE HTML>
<html>
<head>  
        <meta charset="UTF-8">
        <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services --> 
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>    
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-firestore.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script type="text/javascript" src="/static/scripts/script.js"></script>
        <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/nav.css" rel="stylesheet" type="text/css"/>




</head>
<!--Navigation bar-->
<header>
  <div id="nav-placeholder">

  </div>
  
  <script>
  $(function(){
    $("#nav-placeholder").load("nav");
  });
  </script></header>
<body>
  <img style="width: 100%; height: 100%;" src="https://firebasestorage.googleapis.com/v0/b/finalprojectrn.appspot.com/o/backend%2Findex.jpeg?alt=media&token=ba8d4964-11f8-4077-a986-bd92fcc44f86">
</body>
</html>