
<!DOCTYPE HTML>
<html>
<head>  
        <meta charset="UTF-8">
        <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services --> 
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>    
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-firestore.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/scripts/script.js"></script>

        <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>

    </head>
</head>
<header>
  <div id="nav-placeholder">

  </div>
  
  <script>
  $(function(){
    $("#nav-placeholder").load("nav");
  });
  </script></header>
<body>
<div class="container">
<h1 id="titleQ">הוספת חידה חדשה</h1>
<br>
<div class="All">
        <label for="quizContent">תוכן החידה: </label><br>
        <textarea id="quizContent" name="quizContent" placeholder="כתוב את השאלה כאן" style="width:95%; height:100px ;" required></textarea><br><br>
        <label for="Answer1">תשובה 1: </label>
        <input type="text" id="Answer1" name="Answer1" placeholder="כתוב את התשובה כאן" required style="width:86%; height:20px"><br><br>

        <label for="Answer2">תשובה 2: </label>
        <input type="text" id="Answer2" name="Answer2" placeholder="כתוב את התשובה כאן" required style="width:86%; height:20px"><br><br>

        <label for="Answer3">תשובה 3: </label>
        <input type="text" id="Answer3" name="Answer3" placeholder="כתוב את התשובה כאן" required style="width:86%; height:20px"><br><br>

        <label for="Answer4">תשובה 4: </label>
        <input type="text" id="Answer4" name="Answer4" placeholder="כתוב את התשובה כאן" required style="width:86%; height:20px"><br><br>

        <label for="RightAnswerNum">איזו תשובה נכונה? </label>
        <input type="number" id="RightAnswerNum" name="RightAnswerNum"  min="1" max="4" required><br><br>

        <label for="numberOfSite">לאיזה אתר חידה זו שייכת? </label>
        <input type="number" id="numberOfSite" name="numberOfSite"  required min="1" max="7"><br><br>

        <input type="submit" value="הוסף חידה" onclick=insert2()>
        <br>
    </div>
    <br>
 
    <script>

    function insert2(){

        var numberOfSite = document.getElementById("numberOfSite").value;      
        var quizContent = document.getElementById("quizContent").value;
        var Answer1 = document.getElementById("Answer1").value;
        var Answer2 = document.getElementById("Answer2").value;
        var Answer3 = document.getElementById("Answer3").value;
        var Answer4 = document.getElementById("Answer4").value;
        var RightAnswerNum = document.getElementById("RightAnswerNum").value;
        ID = Date.now()
        tal = (Answer4!="" && Answer3!=""&&Answer2!=""&&Answer1!=""&&quizContent!=""&&numberOfSite!="")
        if(tal){
        Q=firebase.database().ref('/Quizes/' + ID ).set({
            QuizeID:ID,
            numberOfSite:numberOfSite,
            QuizeContent:quizContent,
            Answer1:Answer1,
            Answer2:Answer2,
            Answer3:Answer3,
            Answer4:Answer4,
            RightAnswerNum:RightAnswerNum
        }).then(function onSuccess(res) {
    window.location.href = "InsertQuiz.html";
  })
        alert('הפעולה בוצעה בהצלחה')
            }
       else{
        alert('יש למלא את כל השדות')

       }
    }

</script>
</div>
</body>
</html>