
<!DOCTYPE HTML>
<html>
<head>  
        <meta charset="UTF-8">
        <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services --> 
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>    
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-firestore.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">

<!--        <script src="script.js"></script>-->
        <script type="text/javascript" src="/static/scripts/script.js"></script>

</head>
<body>
<div class="container">
<h1 id="titleQ">הוספת חידה חדשה</h1>
<br>
    <div id="qui" style="background-color: rgb(226, 213, 213,0.7)">
        <form  id="f" name="AddQuiz" action="" onsubmit="return insert();" method="post" style="padding:10px"><!--בהמשך נוסיף PH-->
        <label for="quizContent">תוכן החידה: </label><br>
        <textarea id="quizContent" name="quizContent" placeholder="כתוב את השאלה כאן" style="width:60%; height:100px ;" required></textarea><br><br>
        <label for="Answer1">תשובה 1: </label>
        <input type="text" id="Answer1" name="Answer1" placeholder="כתוב את התשובה כאן" required style="width:57%; height:40px"><br><br>

        <label for="Answer2">תשובה 2: </label>
        <input type="text" id="Answer2" name="Answer2" placeholder="כתוב את התשובה כאן" required style="width:57%; height:40px"><br><br>

        <label for="Answer3">תשובה 3: </label>
        <input type="text" id="Answer3" name="Answer3" placeholder="כתוב את התשובה כאן" required style="width:57%; height:40px"><br><br>

        <label for="Answer4">תשובה 4: </label>
        <input type="text" id="Answer4" name="Answer4" placeholder="כתוב את התשובה כאן" required style="width:57%; height:40px"><br><br>

        <label for="RightAnswerNum">איזו תשובה נכונה? </label>
        <input type="number" id="RightAnswerNum" name="RightAnswerNum"  min="1" max="4" required><br><br>

        <label for="numberOfSite">לאיזה אתר חידה זו שייכת? </label>
        <input type="number" id="numberOfSite" name="numberOfSite"  required min="1" max="7"><br><br>


        <input type="submit" value="הוסף חידה" onclick=insert()>
        <br>
    </div>
 
    <!-- <script>
    function insert(){
        firebase.database().ref('Quizes').set({
         QuizContent=document.forms["AddQuiz"]["QuizContent"].value,
         Answer1=document.forms["AddQuiz"]["Answer1"].value,
         Answer2=document.forms["AddQuiz"]["Answer2"].value,
         Answer3=document.forms["AddQuiz"]["Answer3"].value,
         Answer4=document.forms["AddQuiz"]["Answer4"].value,
         RightAnswerNumber=document.forms["AddQuiz"]["RightAnswerNumber"].value,
         NumberOfSite=document.forms["AddQuiz"]["NumberOfSite"].value
         
        })
       
       }</script> -->
</div>
</body>
</html>