
<!DOCTYPE HTML>
<html>
<head>  
        <meta charset="UTF-8">
        <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services --> 
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>    
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-firestore.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">

<!--        <script src="script.js"></script>-->
        <script type="text/javascript" src="/static/scripts/script.js"></script>

</head>
<body>
<div class="container">
<h1 id="titleQ">עריכת חידות</h1>
<br>
    <div id="qui"> 
        <script>
        const queryString = window.location.search;
        var NumOfSite =queryString.substring(1);
        titleQ.innerHTML="עריכת חידות עבור אתר "+NumOfSite;
        var database = firebase.database().ref('Quizes')
        var NumOfQuiz=0
    database.on('value', (dataSnapshot) => {
     dataSnapshot.forEach((child) => {
        
    if (child.val().numberOfSite == NumOfSite ){
        
      console.log(child.val().QuizeContent)}
      NumOfQuiz=NumOfQuiz+1
      qui.innerHTML= qui.innerHTML+"<div class='All'><p calss='Q'>"+"<h2>שאלה "+NumOfQuiz+"</h2><textarea>"+child.val().QuizeContent+"</textarea></p>"
      +"<p class='A'>"+"תשובה 1: "+"<textarea>"+child.val().Answer1+"</textarea></p>"+
      "<p class='A'>"+"תשובה 2: "+"<textarea>"+child.val().Answer2+"</textarea></p>"+
      "<p class='A'>"+"תשובה 3: "+"<textarea>"+child.val().Answer3+"</textarea></p>"+
      "<p class='A'>"+"תשובה 4: "+"<textarea>"+child.val().Answer4+"</textarea></p>"+
      "<p class='c'>"+"התשובה הנכונה: "+"<textarea>"+child.val().RightAnswerNum+"</textarea></p>"+
     "<p clss='but'> <button id='deleteQ' onclick=deleteQuiz("+NumOfQuiz+")>עדכן חידה</button> <button id='updatQ'>מחק חידה</button></p></div><br></br>"

  })
})
    
        </script> 
    </div>
</div>
</body>
</html>