body{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/finalprojectrn.appspot.com/o/backend%2F55.jpeg?alt=media&token=db6f5c98-1c4c-4656-9cb5-b2055a329352);

        font-family: "arial", Georgia, Serif;
        direction: rtl;
        padding: 0px;
        /* margin: 0px; */
        position: relative;
        background-position:center;background-repeat:no-repeat;
       background-attachment:fixed;background-size:cover;
}
        
